include versioneer.py
include src/pst/_version.py

include *.toml
include LICENSE

exclude src/pst/data/ssp/*
exclude src/pst/data/lick/*
exclude src/pst/data/filters/*
include src/pst/data/ssp/PopStar/popstar_cha_0.15_100.fits.gz
include src/pst/data/lick/lick_ha.json

recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include tests *.py
include *.txt

